<header>
  <div>
    <div class="title">
      <span class="icon"></span><h2>Game Jam</h2>
    </div>
    <div class="actions">
      <ul>
        <%= yield :header %>
      </ul>
    </div>
  </div>
</header>
